body{
    font-family: Arial;
    background-color:pink;
    margin: 0;
    text-align: center;
}

.card{
    background-color:lightcoral;
    width: 250px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5)
}

.card img{
    width: 100px;
    border-radius: 50%;
}